.main{
    display: flex;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
}

.login-button{
    border-radius: 0.25rem;
    padding: 1rem;
    width: 100%;
    background-color: #00B9BC;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
}

.login-input{
    border-radius: 0.25rem;
    padding: 1rem;
    color: #3A3F44;
    width: 86%;
    margin-bottom: 20px;
    font-size: medium;
}