.chatbox {
  width: 60%;
  margin: auto;
  border-radius: 10px;
  background-color: #07387e;
  border: 1px solid rgb(94, 90, 90);
}

#wrapper {
  display: flex;
}

.chat-heading{
  line-height: 80px;
}

.message-input{
  display: flex;
  height: 40px;
  margin: 20px
}
.message-input-text{
  flex-grow: 3;
  font-size: 1.2rem;
}
.message-input-send{
  flex-grow: 1;
}

.message-from{
  display: flex;
  align-items: center;
  margin: 10px;
  color: rgb(48, 47, 51);
}
.message-text {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  font-weight: 300;
  font-size: 1.2rem;
  flex-grow: 1;
}

.messages {
  overflow-y: scroll;
  height: 60vh;
  padding: 20PX;
  background-color: #f9fafc;
}


.white{
  color: whitesmoke;
}

.bg-blue{
  background: #478dee;
  padding: 20px 40px;
  border-radius: 15px;
}