.chatbox {
  width: 60%;
  margin: auto;
}

.message-text {
  background: #478dee;
  margin: 20px 0;
  padding: 20px 40px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 1.2rem;
}

.messages {
  overflow-y: scroll;
  height: 70vh;
}
